# 
ccxt
sqlalchemy

# hummingbot
# hummingbot-api-client
# hummingbot-api
# 0. conda create -n hummingbot python=3.12 -y, conda activate hummingbot
# 1. install hummingbot (./install, ./compile, pip install .)
# 2. install hummingbot-api-client (pip install .)
# 3. hummingbot-api (make -f Makefile.my install/run)
# 4. launch dashboard (make -f Makefile.my install/run)

nest_asyncio
pydantic
streamlit>=1.36.0
watchdog
python-dotenv
plotly==5.24.1
pycoingecko
glom
defillama
statsmodels
pandas_ta==0.3.14b
pyyaml
pathlib
streamlit-authenticator==0.3.2
flake8
isort
pre-commit
