# conda create -n hummingbot python=3.10 -y
ccxt
sqlalchemy

# hummingbot
# hummingbot-api-client
# hummingbot-api
# 1. install hummingbot hummingbot-api-client (according to the mannual)
# 2. hummingbot-api (pip install -r requirements-my.txt)
# 2. launch hummingbot-api by ./run-my.sh
# 3. launch dashboard by ./run-my.sh

nest_asyncio
pydantic
streamlit>=1.36.0
watchdog
python-dotenv
plotly==5.24.1
pycoingecko
glom
defillama
statsmodels
pandas_ta==0.3.14b
pyyaml
pathlib
streamlit-authenticator==0.3.2
flake8
isort
pre-commit
